@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white-text: hsl(0, 0%, 98%);
    --white-background: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 25px 15px;
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white-background);
}

.container picture img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
    height: 370px;
    margin: 10px 0;
}

.container .content small {
    font-size: .9em;
    font-weight: 500;
    margin-top: 15px;
    opacity: .9;
}

.container .content h1 {
    font-family: 'fraunces', serif;
    font-size: xx-large;
    color: var(--very-dark-blue);
}

.container .content p {
    line-height: 1.5;
    opacity: .9;
    margin-bottom: 10px;
}

.container .content .price b {
    color: var(--dark-cyan);
    margin-right: 15px;
    font-size: xx-large;
    font-family: 'fraunces', serif;
}

.container .content .price del {
    position: relative;
    bottom: 10px;
}

.container .content .order-button {
    background-color: var(--dark-cyan);
    color: var(--white-text);
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 5px 0 15px 0;
    margin: 5px auto 15px auto;
    font-size: 1.1em;
    font-weight: 700;
}

.container .content .order-button img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    top: 7px;
}


@media(min-width: 687px) {
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
        width: 570px;
        height: 430px;
    }

    .container picture {
        width: 50%;
        height: 100%;
    }

    .container picture img {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .container .content {
        width: 40%;
        margin: auto;
        height: 95%;
        justify-content: space-around;
    }

    .container .content h1 {
        font-size: 2.2em;
        line-height: 1;
    }

    .container .content p {
        font-size: 12px;
        line-height: 1.8;
        font-weight: 500;
    }
}